{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form, {'attr':{'class':''}}) }}
        <div class="card">
            <h5 class="card-header">Skills</h5>
            <div class="card-body">
                {{ form_widget(form) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
